html{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}
body{
  position:relative;
  max-width:100%;
}
@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
font-display: auto;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0ccac4;
}