body {
  margin: 0;
  padding: 0;
  max-width:100%;
  font-size:1.15em;
  font-family: "Arial",sans-serif;
  font-display:swap;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
}
